body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  height: 40px;
}

.MuiInputBase-root {
  background-color: rgba(89, 89, 94, .2);
  border-radius: 8px !important;
  margin-top: 16px;
}

.MuiInputBase-input,
.MuiInputBase-input::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

.nav {
  padding: 0 !important;
}